<!-- sabana_yegua.html is the sabana yegua page of the app. html pages are what the user see on the app. It is only front end stuff. If you want
functionality, then add javascript or python code. we will need a page for each reservoir. -->

{% extends "reservoir_management/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
    <div>
      <h1 align="center">Sabana Yegua</h1>
    </div>
    <p><h5>Datos Historicos y Prevision</h5></p>
    {% gizmo timeseries_plot %}
    <br>
    <h5 id="nivprog" class = "hidden" align="center">Niveles Prognosticados</h5>
    <table align="center" id="mytable">
        <tbody id="tbody">
        </tbody>
    </table>
{% endblock %}

{% block app_navigation_items %}
      {{ block.super }}
    <br>
    <br>
    <div class="buttons" align="center">
        {% gizmo outflow_button %}
    </div>
{% endblock %}


{% block after_app_content %}
    <form id="outflowmod" class="modal fade" role="dialog" method="post">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <h5 align="center">Ingresar Caudales de Salida</h5>
            <div id="dimtable">
                {% gizmo outflow_edit %}
            </div>
            <div id="modalbut">
                {% gizmo calculate %}
            </div>
            <div align="center" id="waiting_output"></div>
        </div>
        <!--End modal content-->
    </div>
    </form>
{% endblock %}

{% block app_actions %}
{% endblock %}