

/* This css code changes the visual aspect of the application. The words after the #, ., or the words alone are what the code refers to on
the html page, whether it be an id or a class. If you want to change spacing, color, sizes, etc, on the app, this is the place to do it */


#map {
    height: 100%;
    width: 100%;
    position: relative;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

#graph {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}

body {
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#mytable td,#mytable th  {
    text-align: center;
    border: 1px solid black;
    padding: 8px;
}

#mytable th {
    background-color: #01AEBF;
    color: white;
}

#mytable tr:nth-child(odd){background-color: #f2f2f2;}

#mytable tr:hover {background-color: #ddd;}

.modal-body {
    text-align: center;
    font-size: 20px;
}

#ingresar {
    text-align: center;
}

#outflow_button {
    text-align:center;
    }

#dimtable {
    padding-right: 10%;
    padding-left: 10%;
}
#modalbut {
    padding: 5%;
    text-align:center;
}

.outflow_button {
    background-color: #01AEBF;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.calcbut {
    background-color: #01AEBF;
    color: white;
}

.hidden {
    display:none;
}